<div class="card-item">
  <div class="card hoverable">
    <iframe src="https://www.youtube.com/embed/{{ video.youtube }}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    <a href="https://youtu.be/{{ video.youtube }}">
      <div class="card-body">
        <h2 class="card-title text-lowercase">{{ video.title }}</h2>
        <p class="card-text">{{ video.description }}</p>
      </div>
    </a>
  </div>
</div>
