<div class="col-sm">
  <div class="card hoverable">
    <div class="embed-responsive embed-responsive-16by9">
      <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/{{ video.youtube }}" title="YouTube video player" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
    <div class="card-body">
      <a href="https://youtu.be/{{ video.youtube }}">
        <h2 class="card-title text-lowercase">{{ video.title }}</h2>
      </a>
      <p class="card-text">{{ video.description }}</p>
    </div>
  </div>
</div>
