<div class="col">
  <div class="card hoverable">
    <div class="embed-responsive embed-responsive-16by9">
      <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/{{ video.youtube }}" title="YouTube video player" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
    <div class="card-body">
      <h2 class="card-title"><a href="https://youtu.be/{{ video.youtube }}">{{ video.title }}</a></h2>
      <p class="card-text">{{ video.description }}</p>
      <div class="row ml-1 mr-1 p-0">
        {% if video.github %}
        <div class="github-icon">
          <div class="icon" data-toggle="tooltip" title="Code Repository">
            <a href="{{ video.github }}" target="_blank"><i class="fab fa-github gh-icon"></i></a>
          </div>
          {% if video.github_stars %}
          <span class="stars" data-toggle="tooltip" title="GitHub Stars">
            <i class="fas fa-star"></i>
            <span id="{{ video.github_stars }}-stars"></span>
          </span>
          {% endif %}
        </div>
        {% endif %}
        {% if video.paper %}
        <div class="paper">
          <a href="{{ video.paper | prepend: '/assets/pdf/' | relative_url }}" class="btn btn-sml z-depth-0" role="button" target="_blank">Paper</a>
        </div>
        {% endif %}
      </div>
    </div>
  </div>
</div>
